{% extends 'base.html' %}

{% block content %}

    <button id="btnAsigProfe" class="btn">Crear asociacion</button>

    <section>
        {% for asigprofe in asignaturas_profesores %}
        <div class="card">
            <i class="fas fa-edit icon-left editIsigprofe" data-id="{{ asigprofe.id }}"></i>
            <form action="{% url 'asignatura_profesor_delete' asigprofe.id %}" method="post" class="delete-form">
                {% csrf_token %}
                <button type="submit" class="icon-right btn-delete"><i class="fas fa-trash"></i></button>
            </form>
            <h2>{{ asigprofe.asignatura.nombre }}</h2>
            <p><strong>Profesor:</strong> {{ asigprofe.profesor.nombre }}</p>
        </div>
        {% endfor %}
    </section>
    
    <div id="modal_aisgprofe" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-title">Crear nueva asociacion</h2>
            <form id="asigprofe-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="asignatura">Asignatura:</label>
                    <select id="asignatura" name="asignatura" class="form-control" required>
                        {% for asignatura in asignaturas_disponibles %}
                            <option value="{{ asignatura.id }}">{{ asignatura.nombre }}</option>
                        {% endfor %}
                    </select>                    
                </div>
                <div class="form-group">
                    <label for="profesor">Profesor:</label>
                    <select id="profesor" name="profesor" class="form-control" required>
                        {% for profesor in profesores_disponibles %}
                            <option value="{{ profesor.id }}">{{ profesor.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>
    

{% endblock %}