{% extends 'base.html' %}

{% block content %}

    <button id="btnEstudiante" class="btn">Crear estudiante</button>

    <section>
        {% for estudiante in estudiantes %}
        <div class="card">
            <i class="fas fa-edit icon-left editEstudiante" data-id="{{ estudiante.id }}"></i>
            <form action="{% url 'estudiantes_delete' estudiante.id %}" method="post" class="delete-form">
                {% csrf_token %}
                <button type="submit" class="icon-right btn-delete"><i class="fas fa-trash"></i></button>
            </form>
            <h2>{{ estudiante.nombre }}</h2>
            <p><strong>Fecha de Nacimiento:</strong> {{ estudiante.fecha_nacimiento }}</p>
            <p><strong>Dirección:</strong> {{ estudiante.direccion }}</p>
            <p><strong>Edad:</strong> {{ estudiante.edad }}</p>
            <p><strong>Género:</strong> {{ estudiante.genero }}</p>
            <p><strong>Email:</strong> {{ estudiante.email }}</p>
            <p><strong>Teléfono:</strong> {{ estudiante.telefono }}</p>
            <p><strong>Fecha de Ingreso:</strong> {{ estudiante.fecha_ingreso }}</p>
            <p><strong>Grado:</strong> {{ estudiante.grado }}</p>
        </div>
        {% endfor %}
    </section>
    
    
    <div id="modal_estudiante" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-title">Crear nuevo estudiante</h2>
            <form id="estudiante-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" name="direccion" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="edad">Edad:</label>
                    <input type="number" id="edad" name="edad" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="genero">Género:</label>
                    <input type="text" id="genero" name="genero" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="fecha_ingreso">Fecha de Ingreso:</label>
                    <input type="date" id="fecha_ingreso" name="fecha_ingreso" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="grado">Grado:</label>
                    <input type="text" id="grado" name="grado" class="form-control" required>
                </div>
                <input type="submit" value="Guardar" class="btn-crear">
            </form>
        </div>
    </div>
    
{% endblock %}
